header{
    background-color: black;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.titulo-principal{
    padding: 40px;
    color: white;
    font-size: 70px;
    font-style: italic;
}

.lista-header li{
    margin-right: 40px;
    padding: 20px;
    display: inline-block;
    font-size: 30px;
    color: white;
    font-weight: bold;  
}

.lista-header li:hover{
    
}

nav {
    text-align: right;
}

nav a{
    text-decoration: none;
    color: white;
}

nav a:hover{
    text-decoration: underline yellow;
    color: yellow;
    transition: 0.5s;
}

main{
    width: 100%;
    height: 100%;
    margin: 40px auto;
    text-align: center;
}

main div{
    display: inline-block;
    padding: 40px;
    margin: 40px;
    font-size: 20px;
    font-weight: bold;
}

#quadro-informações{
    border-radius: 15px;
    padding: 140px;
    margin: 20px;
    text-align: center;
    box-sizing: border-box;
    background-color:#fafafa;
    cursor: pointer;
}

#quadro-informações:hover{
    box-sizing: border-box;
    border: 2px solid green;
    border-radius: 10px;
}

footer{
    background-color: #e8e8e8;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.texto-redesocial{
    font-size: 20px;
    padding: 15px;
    text-align: center;
}

.imagens-rodape {
    text-align: center;
}

.imagens-rodape li{
    display: inline;
    margin-right: 10px;
}

#tamanho-imagem {
    max-height: 28px;
}
.copyright-voltatopo{
    text-align: center;
}

.copyright{
    color: black;
    padding: 15px;
}

.div-volta-topo{
    text-align: right;
}

.div-volta-topo p{
    padding: 7px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;
    display: inline-block;
    margin: 18px;
    cursor: pointer;
}

.remove-tela{
    display: none;
}